ORGANIZATION="Organization name" # Mandatory
PROJECT="Project name" # Mandatory
PAT="Private access token" # Mandatory
REPOSITORY="" # Optional - Repository name, leave empty if not valid
AGENT_POOL="" # Optional - Agents Pool name, leave empty if not valid
AGENT_NAME="" # Optional - Name of agent in Pool, if pool is not empty. Leave empty if not valid
USER_EMAIL="" # Optional - Name of any user registered in organization. Leave empty if not valid.
USER_GUID="" # Optional - Global user ID to check adding PR reviewer by Guid
MAIN_BRANCH_NAME="main" # Optional - set to name of existing branch in the main repo.
